*{
    font-family: 'Simonetta', cursive;
    
}

.max-viewport{
  min-height: 100vh;
}

.viewport-50{
  min-height: 50vh;
}

.download {
  background: url('../img/p-5.jpeg') center/cover no-repeat fixed;
}



.card-body img {
  margin-top: -100px;
}

#team .card {
  background-color: whitesmoke;
  transition: all 0.3s linear;
}

#team .card:hover{
  background-color: grey;
  color: whitesmoke;
}

#lower-banner {
background: url('../img/p-5.jpeg') center/cover no-repeat fixed;
}

.transparent {
  background-color: rgba(0, 0, 0, 0.7);
}
/* 
#nav ul {
  font-size: 1.2rem!important;
} */